[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/LBCHTTPPostBody"]
	path = Vendor/LBCHTTPPostBody
	url = git://gist.github.com/2840408.git
